<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIPEN HOSPITALITIES</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="../css/itsmy.css" type="text/css" rel="Stylesheet" />
    
</head>

<body>
    
    <div id="header-hero-container">
        <header>
            <div class="flex container">
                <a id="logo" href="#"><img src="../css/plogo.png" width="100" height="90"></a>
                <nav>
                    <button id="nav-toggle" class="hamburger-menu">
                        <span class="strip"></span>
                        <span class="strip"></span>
                        <span class="strip"></span>
                    </button>

                    <ul id="nav-menu">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="home.html">Homestays</a></li>
                        <li><a href="review.html">Reviews</a></li>
                        <li><a href="../templates/faqs.html">FAQs</a></li>

                        <li class="ion-icon"><a href="login.php"><ion-icon name="person-circle-sharp"></ion-icon></a></li>
                        <li class="ion-icon1"><a href="#map"><ion-icon name="location"></ion-icon></a></li>
                        <li id="close-flyout"><span class="fas fa-times"></span></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section id="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>HAVALA PLANTATION STAY</h1>
                <p><h3>BOOK A HOME AMIDST OF COFFEE ESTATE WITH LUSCIOUS GREEN !!!</h3></p><br>
            </div>
        </section>
    </div>

    <div class="whatsapp-btn-container">
        <a class="whatsapp-btn" href="https://wa.me/9911290307"><i class="fab fa-whatsapp"></i></a>
        <span>Contact Us</span>
    </div>
    <br><br>
    <section id="slide">
        <div class="marquee-w">
            <div class="marquee">
                <span>"Start Booking....!!!"&nbsp;&nbsp;&nbsp;*REGISTRATION / GST / STAMP DUTY / LEGAL CHARGES ARE FREE*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
            </div>
            <div class="marquee marquee2">
                <span>Homely stay.&nbsp;&nbsp;&nbsp;!! Deals Only between Buyer and Owner / Seller !! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
    </section>
     

    <section id="testimonials">
        <div class="container">
            <h2>What Our Clients Are Saying</h2>
            <div id="testimonials-slider">
                <div>
                    <blockquote>
                        <p>
                            "Very great experience. It was memorable for us. It is a homey feeling to stay here."
                        </p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <p>Vansh</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>
                            "Rooms are spotlessly cleaned and large enough even for a long stay. The owner is very nice 
                            person with a gentle character.The place is amazing and pleasant atmosphere."
                        </p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <p>Vivek</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"Very excellent experiencce. It,s a 2BHK flat with all basic amenities, and fully equiped kitchen and 
                            a beautiful garden. The caretaker here are very gentle."</p>
                    </blockquote>
                    <div class="testimonials-caption">  
                        <p>Manjusha</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"As expected, it was a pleasant stay. The property has a lot of greenery. The stay was comfortable
                          . They also arrange car or bike for rental if needed."</p>
                    </blockquote>
                    <div class="testimonials-caption">  
                        <p>Rupali</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
        <div class="container">
            <h2>Contact Us For Any Query</h2>

            <div class="flex">
                <div id="form-container">
                    <h3>Contact Form</h3>
                    <form name="myform2">

                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Please Enter First Name" required=""/>

                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Please Enter Email" required=""/>

                        <label for="subject">Phone</label>
                        <input type="phone" id="phone" name="phone" placeholder="Enter Contact in this format (987-654-3210)" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="*Phone number should be in 123-456-7890 format" required=""/>

                        <label for="message">Message</label>
                        <textarea id="message" name="message" placeholder="Write your message here"></textarea>

                        <button class="rounded" type="submit" name="submit" >Send Message</button>
                        
                    </form>
                    

                </div>

                <div id="address-container">
                    <label>Address</label>
                    <address>
                       Havala Plantation, Magge rd, Hosagadde, Ballupet, Karnataka 573214, India
                    </address>

                    <label>Phone</label>
                    <a href="tel:879-261-6548">+91 8792616548</a>

                    <label>Email Address</label>
                    <a href="mailto:havalakm@gmail.com">havalakm@gmail.com</a>
                </div>
            </div>
        </div>
    </section><br>

    <section id="map">
        <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3467.0645106314746!2d79.41176236440482!3d29.659902332023808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a0ab5e24e20e81%3A0xabeff1c3a6ee2298!2sElation%20Homestay%20%26%20Musafir%20cafe%2C%20Ranikhet!5e0!3m2!1sen!2sin!4v1674130699466!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe><center>
    </section>

    <footer>
        <div class="flex container">
            <div class="footer-about">
                <h5><b>ABOUT US</b> <REAL class="com"></REAL></h5>
                <p>
                    Our services include homestays, taxi services to our stay and rental bike or car as needed.<br>
                    If you're looking out for long or short stays, corporate or individual trips as well as a cozy place 
                    for honeymoon trip then you're at the right place !<br>
                    Look around in our website to know more.
                </p>
            </div>

            <div class="footer-quick-links">
                <h5>Quick Links</h5>
                <ul>
                        <li><a href="homestay.html">Homestays</a></li>
                        <li><a href="review.html">Reviews</a></li>
                        <li><a href="faqs.html">FAQs</a></li>
                        <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer-subscribe">
                <h5 class="follow-us">Follow Us</h5>
                <ul>
                    <li><a href="https://www.facebook.com/musafir.ranikhet/?ti=as"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagaram.com/musafircafe.ranikhet"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://hsng.co/4JLvsIocIlsG"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <small>
            Copyright &copy; 2023 All rights reserved | This template is made with <span class="fa fa-heart"></span> by <a href="index.html">Havala Plantation</a>
        </small>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        $(function () {
            let headerElem = $('header');
            let logo = $('#logo');
            let navMenu = $('#nav-menu');
            let navToggle = $('#nav-toggle');

           $('#properties-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                prevArrow: '<a href="#" class="slick-arrow slick-prev">previous</a>',
                nextArrow: '<a href="#" class="slick-arrow slick-next">next</a>',
                responsive: [
                    {
                        breakpoint: 1100,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 530,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    }
                ]
           });

           $('#testimonials-slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: '<a href="#" class="slick-arrow slick-prev"><</a>',
                nextArrow: '<a href="#" class="slick-arrow slick-next">></a>'
           });

           navToggle.on('click', () => {
               navMenu.css('right', '0');
           });

           $('#close-flyout').on('click', () => {
                navMenu.css('right', '-100%');
           });

           $(document).on('click', (e) => {
               let target = $(e.target);
               if (!(target.closest('#nav-toggle').length > 0 || target.closest('#nav-menu').length > 0)) {
                   navMenu.css('right', '-100%');
               }
           });

           $(document).scroll(() => {
               let scrollTop = $(document).scrollTop();

               if (scrollTop > 0) {
                   navMenu.addClass('is-sticky');
                   logo.css('color', '#000');
                   headerElem.css('background', '#fff');
                   navToggle.css('border-color', '#000');
                   navToggle.find('.strip').css('background-color', '#000');
               } else {
                   navMenu.removeClass('is-sticky');
                   logo.css('color', '#fff');
                   headerElem.css('background', 'transparent');
                   navToggle.css('bordre-color', '#fff');
                   navToggle.find('.strip').css('background-color', '#fff');
               }

               headerElem.css(scrollTop >= 200 ? {'padding': '0.5rem', 'box-shadow': '0 -4px 10px 1px #999'} : {'padding': '1rem 0', 'box-shadow': 'none' });
           });

           $(document).trigger('scroll');
        });
    </script>
</body>
</html>