<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Our Reviews</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

		<link href="../review/its.css" rel="stylesheet" type="text/css">
		<link href="../review/review.css" rel="stylesheet" type="text/css">
<link href="../review/style.css" rel="stylesheet">
<link rel="stylesheet" href="../review/v.css">
        <style>
            #header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(201, 196, 196);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    font-size: 2rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    position: relative;
    top: 4px;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
    
}
header ul li ion-icon {
    font-size: 30px;
    color: rgb(247, 58, 155);
    padding: 0.7rem;
}
header ul li ion-icon1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 0.7rem;
}


#close-flyout {
    display: none;
}

header ul li a {
    color: #999;
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}

header ul li a:hover,
header ul li a.active {
    color: #fff;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color:firebrick;
}
        </style>
	</head>
	<div>
        <div id="header-hero-container">
            <header>
                <div class="flex container">
                    <a id="logo" href="#"><img src="../css/plogo.png" width="100" height="90"></a>
                    <nav>
                        <button id="nav-toggle" class="hamburger-menu">
                            <span class="strip"></span>
                            <span class="strip"></span>
                            <span class="strip"></span>
                        </button>
    
                        <ul id="nav-menu">
                            <li><a href="index.html" >Home</a></li>
                            <li><a href="homestay.html">Homestays</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="review.html" class="active">Reviews</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="articles.php">Articles</a></li>
    
                            <li class="ion-icon"><a href="login.php"><ion-icon name="person-circle-sharp"></ion-icon></a></li>
                            <li class="ion-icon1"><a href="#map"><ion-icon name="location"></ion-icon></a></li>
                            <li id="close-flyout"><span class="fas fa-times"></span></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>    
    </div>




	    <nav class="navtop">
	    	<div class="v">
	    		<h1> Our Reviews </h1>
	    	</div>
	    </nav>
		<div class="content home">
			<h2>Check out our reviews</h2>
			<p>Guest Diaries</p>
		</div>
	</body>
</html>
<div class="reviews"></div>

<footer>
    <div class="flex container">
        <div class="footer-about">
            <h5><b>ABOUT US</b> <REAL class="com"></REAL></h5>
            <p>
                Our services include homestays, taxi services to our stay and rental bike or car as needed. <br>
                If you're looking out for long or short stays, corporate or individual trips as well as a cozy place 
                for honeymoon trip then you're at the right place !<br>
                Look around in our website to know more.
            </p>
        </div>

        <div class="footer-quick-links">
            <h5>Quick Links</h5>
            <ul>
                <li><a href="homestay.html">Homestays</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="review.html">Reviews</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="index.html#contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-subscribe">
        
            <h5 class="follow-us">Follow Us</h5>
            <ul>
                <li><a href="https://www.facebook.com/musafir.ranikhet/?ti=as"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagaram.com/musafircafe.ranikhet"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://hsng.co/4JLvsIocIlsG"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <small>
        Copyright &copy; 2019 All rights reserved | This template is made with <span class="fa fa-heart"></span> by <a href="index.html">Parivar</a>
    </small>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        $(function () {
            let headerElem = $('header');
            let logo = $('#logo');
            let navMenu = $('#nav-menu');
            let navToggle = $('#nav-toggle');

           $('#properties-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                prevArrow: '<a href="#" class="slick-arrow slick-prev">previous</a>',
                nextArrow: '<a href="#" class="slick-arrow slick-next">next</a>',
                responsive: [
                    {
                        breakpoint: 1100,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 530,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    }
                ]
           });

           $('#testimonials-slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: '<a href="#" class="slick-arrow slick-prev"><</a>',
                nextArrow: '<a href="#" class="slick-arrow slick-next">></a>'
           });

           navToggle.on('click', () => {
               navMenu.css('right', '0');
           });

           $('#close-flyout').on('click', () => {
                navMenu.css('right', '-100%');
           });

           $(document).on('click', (e) => {
               let target = $(e.target);
               if (!(target.closest('#nav-toggle').length > 0 || target.closest('#nav-menu').length > 0)) {
                   navMenu.css('right', '-100%');
               }
           });

           $(document).scroll(() => {
               let scrollTop = $(document).scrollTop();

               if (scrollTop > 0) {
                   navMenu.addClass('is-sticky');
                   logo.css('color', '#000');
                   headerElem.css('background', '#fff');
                   navToggle.css('border-color', '#000');
                   navToggle.find('.strip').css('background-color', '#000');
               } else {
                   navMenu.removeClass('is-sticky');
                   logo.css('color', '#fff');
                   headerElem.css('background', 'transparent');
                   navToggle.css('bordre-color', '#fff');
                   navToggle.find('.strip').css('background-color', '#fff');
               }

               headerElem.css(scrollTop >= 200 ? {'padding': '0.5rem', 'box-shadow': '0 -4px 10px 1px #999'} : {'padding': '1rem 0', 'box-shadow': 'none' });
           });

           $(document).trigger('scroll');
        });
    </script>


<script>
const reviews_page_id = 1;
fetch("reviews.php?page_id=" + reviews_page_id).then(response => response.text()).then(data => {
	document.querySelector(".reviews").innerHTML = data;
	document.querySelector(".reviews .write_review_btn").onclick = event => {
		event.preventDefault();
		document.querySelector(".reviews .write_review").style.display = 'block';
		document.querySelector(".reviews .write_review input[name='name']").focus();
	};
	document.querySelector(".reviews .write_review form").onsubmit = event => {
		event.preventDefault();
		fetch("reviews.php?page_id=" + reviews_page_id, {
			method: 'POST',
			body: new FormData(document.querySelector(".reviews .write_review form"))
		}).then(response => response.text()).then(data => {
			document.querySelector(".reviews .write_review").innerHTML = data;
		});
	};
});
</script>
