/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

:root{
    --main-color:#443;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}
main{
  position:absolute;
  z-index: 1;
  top: 100px;

}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

.btn{
  display: inline-block;
  padding:.9rem 1.5rem;
  border-radius: var(--border-radius);
  color:var(--main-color);
  background: none;
  border:var(--border);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.btn:hover{
  border-radius: var(--border-radius-hover);
  border:var(--border-hover);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background:#ffe4c4;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--main-color);
}

.header .logo{
  color:var(--main-color);
  font-size: 4.2rem;
  font-family:'Brush Script MT',cursive;
}

.header .logo a{
  padding-left: .5rem;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
  --orange:#ffa500;
}

.gallery h1{
  color: black;
  margin-top: 160px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  top: -70rem;
}

.intro{
  font-family: 'Times New Roman';
  text-align: center;
  font-size: 3rem;
  color:darkmagenta;
  margin-top: -70rem;
}



.contact-form input[type=submit]{
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 18px;
  width: 50%;
  height: 40px;
  /* top: -30rem; */
 
 
}

.contact-form input[type=submit]:hover{
  background-color: transparent;
  color: black;
}

.gallery h2{
  color: crimson;
  margin-top: 40px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  top: -1rem;
}
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
}
 
  .gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:1rem solid #fff;
    border-radius: .5rem;
    flex:1 1 30rem;
    height: 25rem;
    position: relative;
  }
 
  .gallery .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }

  .gallery .heading h2{
    font-size: 1rem;
    color: palevioletred;
    margin-top: 80px;
  }
 
  .gallery .box-container .box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:  2rem;
    padding-top: 5rem;
  }
 
  .gallery .box-container .box:hover .content{
    top:0;
  }
 
  .gallery .box-container .box .content h3{
    font-size: 2rem;
    color:orange;
  }
 
  .gallery .box-container .box .content p{
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    padding:5rem 0;
  }

  .gcontent{
    font-size: 2rem;
    color:black;
    text-align: center;
    font-family: 'Times New Roman';
  }



/* Create two equal columns that floats next to each other */
.gallery .column {
  float:left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.column h2{
  font-family: 'Times New Roman';
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
}

.column ul{
  font-family: 'Times New Roman';
  font-size: 1.5rem;
  padding: 20px;
}

@media (max-width:991px){
  html{
     font-size: 55%;
  }
}

.nav{
  display: none;
}

@media (max-width: 480px)
{
  .rules{
    display: flex;
  }
  .rules .row .column {
    height: 700px;
  }
  .gallery h1{
      font-size: 30px;
      margin-top:90px;
  }
  .gallery h2{
      font-size: 20px;
     
  }
 
}
/* start: global styles */



body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(78, 75, 75);
    line-height: 1.7;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-family: "Playfair Display", serif;
}

p {
    margin: 0 0 1rem;
}

button.rounded {
    background: black;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
}

p.large-paragraph {
    font-size: 1.25rem;
    font-weight: 300;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(201, 196, 196);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    font-size: 2rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    position: relative;
    top: 4px;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
    
}
p{
    font-family: "Roboto", "Helvetica", "Sans-serif";
}
h5{
    font-family: "Playfair Display", serif;
}
b{
    font-family: "Playfair Display", serif;
}
header ul li ion-icon {
    font-size: 30px;
    color: black;
    padding: 0.7rem;
}
header ul li ion-icon1 {
    font-size: 30px;
    color: white;
    padding: 0.7rem;
}


#close-flyout {
    display: none;
}

header ul li a {
    color: #999;
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}

header ul li a:hover,
header ul li a.active {
    color: #fff;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color:crimson;
}
/* end: header styles */

/* start: hero section styles */
#hero {
    background: rgba(45, 43, 43, 0.7)url(../css/Himalayas.jpg) center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    width: 500px;
    text-align: center;
}

#hero .hero-text p {
    line-height: 1.5em;
    font-weight: 300;
    font-size: 1rem;
}

#hero .hero-text li ion-icon2{
    font-size: 30px;
    color: rgb(255, 253, 254);
    padding: 0.7rem;
}

#hero .hero-text li .fa{
    font-size: 30px;
    color: blue;
    padding: 0.7rem;
}

/* end: hero section styles */


/* start: footer styles */
footer {
    background: #333;
    padding: 8rem 0;
}

footer .flex {
    padding-bottom: 6rem;
    border-bottom: 1px solid #777;
}

footer h5 {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 16px;
    
}

footer h5.follow-us {
    margin-top: 1rem;
}

footer .footer-about {
    width: 47%;
}

footer .footer-about p {
    width: 65%;
    font-size: 15px;

}

footer .footer-quick-links {
    width: 16%;
}

footer .footer-quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;

}

footer .footer-quick-links ul li {
    margin: 10px 0;
}

footer .footer-quick-links ul li a {
    color: #777;
    text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
    color: #fff;
}

footer .footer-subscribe {
    width: 35%;
    font-size: 14px;
}

#subscribe-container {
    position: relative;
    font-size: 14px;
}

footer .footer-subscribe input {
    border-radius: 30px;
    height: 43px;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    border: 1px solid #6c757d;
    background-color: transparent;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
}

footer button.right-rounded {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #eb35ab;
    font-size: 16px;
    color: #000;
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}

footer button.right-rounded:hover {
    background: #fff;
}

footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-subscribe ul li {
    display: inline-block;
    margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
    margin-left: 0;
}

footer .footer-subscribe ul li a {
    text-decoration: none;
    color: #777;
}

footer .footer-subscribe ul li a:hover {
    color: #fff;
}

footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
}

footer small a {
    color: #777;
    text-decoration: none;
}

footer small a:hover {
    color: #fff;
}

footer .footer-about p{
    color: white;
}
/* end: footer styles */

/* start: media queries */
@media (max-width: 991px) {
    #logo {
        top: 1px;
    }
    #nav-toggle {
        display: block;
    }
    nav ul {
        position: fixed;
        background: #fff;
        right: -100%;
        top: 0;
        margin: 0;
        padding: 2rem;
        height: 100%;
        width: 300px;
        box-sizing: border-box;
        box-shadow: 5px 0 10px 3px #999;
    }
    #close-flyout {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        font-size: 30px;
        color: #777;
        cursor: pointer;
        display: block;
        line-height: 1;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li:first-child {
        margin-top: 50px;
    }
    nav ul li a {
        font-size: 20px;
        color: #212529;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: gray;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .large-paragraph {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .container {
        max-width: 540px;
    }

    #hero .hero-text {
        width: 400px;
    }

    #agents .card {
        width: 49%;
    }

    #the-best .flex > img {
        display: none;
    }

    #the-best .flex > div {
        width: 100%;
    }

    #testimonials-slider p {
        font-size: 1.2rem;
    }

    #properties .container:before {
        top: 2px;
        font-size: 0.85rem;
    }

    #properties-slider a.slick-arrow {
        font-size: 0.85rem;
    }

    #properties button.rounded {
        width: 300px;
    }

    #services .flex > div {
        width: 48%;
    }

    #contact .flex {
        flex-wrap: wrap;
    }

    #form-container {
        width: 100%;
        padding: 2rem;
    }

    #address-container {
        width: 100%;
        margin-top: 2rem;
    }

    footer {
        padding: 6rem 0;
    }

    footer .flex {
        flex-wrap: wrap;
    }

    footer .flex > div {
        width: 100%;
        margin-top: 1rem;
    }

    footer .flex > div:first-child {
        margin-top: 0;
    }

    footer .footer-about p {
        font-size: 1rem;
        width: 100%;
    }

    footer .footer-subscribe input {
        width: 90%;
    }

    footer h5.follow-us {
        margin-top: 2rem;
    }
}
@media (max-width: 500px) {
    #hero .hero-text {
        width: 330px;
    }

    #how-it-works .flex {
        display: block;
    }
    #how-it-works .flex > div {
        width: 100%;
        margin-top: 2rem;
    }
    #properties button.rounded {
        width: 250px;
    }
    #services {
        padding: 4rem 0 3rem;
        margin: 4rem 0;
    }
    #services .flex > div {
        width: 100%;
    }
    #testimonials {
        margin-bottom: 4rem;
    }
    #testimonials-slider p {
        font-size: 1rem;
    }
    #testimonials-slider .slick-arrow {
        display: none !important;
    }
    #contact {
        padding: 4rem 0;
    }
    #contact h2 {
        margin-bottom: 2rem;
    }
    #form-container {
        padding: 1.5rem;
    }
    footer {
        padding: 4rem 0;
    } }
@media (max-width: 400px) {
  #hero .hero-text {
     max-width: 275px;
     width: 100%;
  }
  #properties button.rounded {
     max-width: 250px;
     width: 100%;
  } 
  nav ul {
    width: 200px;
  }
}
/* end: media queries */

/*Whatsapp container starts*/
.whatsapp-btn-container {
    position: fixed;
    right: 30px;
    opacity: 0;
    bottom: -50px;
    padding: 24px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}
@keyframes fade-up {
    100% {
        bottom: 25px;
        opacity: 1;
    } }
@media only screen and (max-width: 750px){
    @keyframes fade-up {
        100% {
            bottom: 35px;
            opacity: 1;
            }
    } }
    .whatsapp-btn-container .whatsapp-btn {
        font-size: 48px;
        color: #25d366;
        display: inline-block;
        transition: all 400ms;
    }
    .whatsapp-btn-container .whatsapp-btn:hover {
        transform: scale(1.2);
    }
    .whatsapp-btn-container span {
        position: absolute;
        top: 0;
        left: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: #075e54;
        transform: rotateZ(20deg) translateX(10px);
        opacity: 0;
        transition: all 400ms;
    }
    .whatsapp-btn-container .whatsapp-btn:hover + span {
        transform: rotateZ(0deg) translateX(0px);
        opacity: 1;
    }